

.regular-clients {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.regular-clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

    &:hover, &:focus {
        color: $brand-color;
        border: 1px solid $brand-color;
    }
}

.regular-clients__icon {
    fill: currentColor;
}

